@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Typography */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  padding: 5px;
  background-color: red;
  color: white;
  text-align: center;
}

button:hover {
  cursor: pointer;
  background-color: rgba(230, 0, 0, 0.74);
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

/* Class Styling */

.flex-container {
  padding-inline-start: 34rem;
  padding-top: 18rem;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.card {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s ease-in-out infinite;
  margin: auto;
}

.card-back {
backface-visibility: hidden;
height: 100%;
left: 0px;
position: relative;
top: 0px;
transform: rotateY(0deg);
transform-style: preserve-3d;
transition: 0.6s;
width: 100%;
}