@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Typography */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  padding: 5px;
  background-color: red;
  color: white;
  text-align: center;
}

button:hover {
  cursor: pointer;
  background-color: rgba(230, 0, 0, 0.74);
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
}

/* Class Styling */

.flex-container {
  padding-inline-start: 34rem;
  padding-top: 18rem;
}

.card-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  border: 1px solid #ddd;
  padding: 10px;
  transition: transform 0.2s;
}
.card:hover {
  transform: scale(1.05);
}
